.Form{
    margin-top: 3em;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.butRight{
    position: absolute;
    right: 25px;
    bottom: 25px;
}

html, body {
    height: 100%;
    margin: 0;
}
.content {
    min-height: 100%;
}
.content-inside {
    padding: 20px;
    padding-bottom: 70px;
}
.footer {

}
