.Form {
    z-index: 100;
    margin-top: 3em;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}


@media screen {
    @media screen and (min-width: 900px) {
    .butRight {
            position: absolute;
            right: 5px;
            bottom: 5px;

        }
    }
}

* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}

@media screen and (min-height: 580px) {
    .footer {
        margin-top: 10px;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}


.footer {
    flex: 0 0 auto;
}
